#giphy-page {
  .navigation {
    display: none;

    button {
      margin-left: 3%;
      width: 30%;
    }

    .use {
      margin: 0;
    }
  }

  .giphy-search {
    position: relative;

    .logo {
      height: 90%;
      position: absolute;
      right: 1%;
      top: 5%;
    }
  }
}
