#giphy-page {
  .navigation {
    display: none;

    button {
      margin-right: 2%;
      width: 22%;
    }
  }

  .giphy-search {
    position: relative;

    .logo {
      height: 90%;
      position: absolute;
      right: 1%;
      top: 5%;
    }
  }
}
