#giphy-page {
  @include span-columns(12);

  .navigation {
    @include outer-container;
    display: none;

    button {
      @include span-columns(4);
    }
  }

  .giphy-search {
    position: relative;

    .logo {
      height: 90%;
      position: absolute;
      right: 1%;
      top: 5%;
    }
  }
}
