.pages {
  h1 {
    font-size: 25px;
    text-align: center;
  }

  .error {
    color: red;
  }

  .hidden {
    display: none;
  }

  .preview-box {
    border: 1px dashed $black;
    margin-top: 5px;
    padding: 10px;
  }

  #more-options {
    float: right;
  }
}
