$copy-block-width: 400px;
$button-width: 40px;

.copy-block {
  margin-bottom: 20px;
  width: $copy-block-width;

  button {
    float: left;
    height: 36px;
    position: relative;
    width: $button-width;
  }

  img {
    left: 10px;
    position: absolute;
    top: 4px;
    width: 25px;
  }

  input {
    width: $copy-block-width - $button-width;
  }
}
