<div class="description">
  <h1>Create a secret Message</h1>
  <ul>
    <li>The message can only be viewed once</li>
    <li>You provide a location for the message:</li>
    <li>Example location: <%= root_url %>url-key-example</li>
    <li>You provide a password to view the message</li>
    <li>Send a friend the link and password</li>
  </ul>
</div>
