<div id="giphy-page">
  <div class="row">
    <div class="input-wrapper empty">
      <input type="text" class="query" placeholder="Search GIFs..." />
      <div class="loader"></div>
      <div class="clear"></div>
    </div>

    <button class="random">Get GIF</button>
    <button class="use">Use GIF</button>
  </div>

  <div class="result">
    <p class="no-result center">
    </p>
  </div>
<div>
