<h1>Happy Birthday Paige!</h1>
<%= image_tag("paige_#{ rand(4) }.jpg") %>
<p>and here is your message below:</p>
<div class="secret-message">
  <%= MarkdownHelper.new(@page.message).render %>
</div>
<script>
  window.page = <%= { url_key: @page.url_key, duration: (@page.duration * 1000) }.to_json.html_safe %>;
</script>
<%= javascript_include_tag "clear_location" %>
