<h1>Your onetime note:</h1>

<div class="copy-block copy" data-clipboard-target="#copy-text">
  <button>
    <%= image_tag("clippy.svg", alt: "Copy to clipboard") %>
  </button>
  <textarea id="copy-text" value="<%= @page.sendable_message %>"><%= @page.sendable_message %></textarea>
</div>

<p>
  <% if @page.multiview? %>
    To view this page click
  <% else %>
    To view and destroy this page click
  <% end %>
  <%= link_to("here", page_url(@page)) %>
</p>
