<p>Your secret page is available at:</p>
<p><b><%= root_url + @page.url_key %></b></p>
<p>Copy, paste and send to a friend</p>

<p>To view and destroy your own page click
  <%= link_to(
    "here",
    root_url + @page.url_key
  ) %>
</p>
