body {
  @include outer-container;
  width: 90%;

  @media screen and (min-width: 768px) {
    @include span-columns(6);
    @include shift(3);
  }
}

.input {
  @include span-columns(6);
}

.message-wrap {
  overflow: auto;
  textarea,
  .preview-box {
    min-height: 70px;
    @include span-columns(6);
  }
}
